<div class="wrapper-div">
    <div class="input-div">{{clickValue ? clickValue: 'Integer'}}</div>
    <div class="input-div">{{alphabetValue ? alphabetValue: 'Text'}}</div>
    <div class="outer-div">
        <div *ngFor="let item of totalNumbers" class="number-styling" (click)="clickAction(item)">
            {{item.displayName}}
        </div>
    </div>
</div>