.wrapper-div {
  height: 300px;
  width: 200px;
  border: 1px solid black;
  background-color: grey;
  padding: 10px;
  .input-div {
    height: 22px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
  }
  .outer-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .number-styling {
      height: 40px;
      width: 40px;
      background-color: lightgrey;
      border: solid 1px white;
      margin: 5px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper-div {
    height: 100%;
    width: 100%;
    .outer-div {
      .number-styling {
        height: 80px;
        width: 80px;
      }
    }
  }
}
